[Unit]
Description=Make remote CUPS printers available locally
Requires=org.cups.cupsd.service
After=org.cups.cupsd.service avahi-daemon.service
Wants=avahi-daemon.service

[Service]
ExecStart=/usr/sbin/cups-browsed

[Install]
WantedBy=multi-user.target
